/*font-family: 'Abril Fatface', cursive;
font-family: 'Cormorant SC', serif;
font-family: 'Emblema One', cursive;
font-family: 'Faster One', cursive;
font-family: 'Geostar Fill', cursive;
font-family: 'Iceland', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Kumar One Outline', cursive;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Marcellus SC', serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Nosifer', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Quantico', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Electrolize', sans-serif;
font-family: 'Share Tech Mono', monospace;*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 700vh;
    overflow-x: hidden;
}

#sun {
    width: 500px;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    opacity: .7;
    filter: drop-shadow(1px -2px 200px #EADC36);
}


.container {
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(#96ddd5, #177FDC, #EADC36, #E88023, #C60995, #1523C9, black, black);
    position: relative;
}

.container h1 {
    font-family: 'Emblema One', sans-serif;
    font-size: 10rem;
    text-align: center;
    line-height: 9rem;
    color: transparent;
    text-shadow: 4px 4px 0 rgba(226, 192, 42, 1), 8px 8px 0 #177FDC, 12px 12px 0 #C60995, 10px 10px 0 #1523C9;
    mix-blend-mode: hard-light;
}

.content {
    width: 35vw;
    background-color: rgba(0,0,0,0);
    position: absolute;
    right: 8%;
}

.content p {
    float: right;
    font-family: 'Philosopher', serif;
    font-size: 1.4rem;
    color: black;
    text-indent: 2em;
    line-height: 1.7rem;
    margin-top: 1vh;
    padding: 20px;
}

.names {
    position: absolute;
    top: 170vh;
    left: 10vw;
}

.names pre{
    width: 35vw;
    color: black;
    font-size: x-large;
    font-family: 'Pacifico', 'Philosopher', 'Cormorant SC', 'Marcellus SC', sans-serif;
    line-height: 3rem;
    
}

.night {
    width: 100vw;
    background-color: black;
    position: absolute;
    bottom: 0%;
}

.night p {
    width: 38%;
    font-family: 'Philosopher', serif;
    font-size: 1rem;
    color: rgba(0,0,0,.7);
    text-indent: 2em;
    line-height: 1.7rem;
    padding: 20px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-shadow: .5px .5px 0 #C60995;
}

.hill {
    width: 100%;
    position: absolute;
    bottom: 75%;
}

.table {
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(1px 1px 0PX #C60995) drop-shadow(1px 1px 0 #EADC36) drop-shadow(1px 1px 0#4D20EF) drop-shadow(1px 1px 0 #E88023);
}